빅데이터 분석기사 실기 연습 01.

In [1]:
import pandas as pd
import numpy as np

# 데이터 불러오기
df = pd.read_csv ('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv',sep='\t')
# df = pd.read_csv('dataset/archive/games.csv')

Q2. 데이터의 상위 5개 행을 출력하라.

In [ ]:
df.head(5)

Ans = df.head(5)
print(Ans)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

Q3. 데이터의 행과 열의 갯수를 파악하라.

In [7]:
print(df.shape)
print('columns : ', df.shape[0])
print('rows : ', df.shape[1])

(51490, 61)
columns :  51490
rows :  61

In [9]:
Ans = df.columns[5]

print(Ans)

firstBlood